.form {
    width: 282px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative; 
}
@media (min-width: 1280px) {
    .form {
        width: 430px;
        min-height: 330px;
        padding: 34px 0 37px;
    }
}
.form__name {
    width: 238px;
    min-height: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #545454;
    margin-bottom: 30px;
}
@media (min-width: 1280px) {
    .form__name {
        width: 358px;
    }
}
.form__metier {
    width: 238px;
    min-height: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #545454;
    margin-bottom: 30px;
}
@media (min-width: 1280px) {
    .form__metier {
        width: 358px;
    }
}
.form__submit {
    width: 238px;
    height: 50px;
    border-radius: 2px;
    color: #ffffff;
    background-color: #000000;
    border: 0;
}
.form__submit:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 1280px) {
    .form__submit {
        width: 358px;
    }
}
.form__close {
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-position:center;
    background-size: contain;
    position: absolute;
    right: 0;
    top: -36px;
}
.form__close:hover {
    opacity: .6;
}
@media (min-width: 1280px) {
    .form__close {
        width: 24px;
        height: 24px;
        right: -30px;
        top: -30px;
    }
}
.form-background {
    display: none;
    width: 100%;    
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    /**add for .body property "overflow-y: hidden;" */
}