.card__like {
    background: url(../../../images/like.svg);
    width: 23px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card__like:hover {
    opacity: .5;
    cursor: pointer;
}