.form__metier {
    width: 238px;
    min-height: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #545454;
    margin-bottom: 30px;
}
@media (min-width: 1280px) {
    .form__metier {
        width: 358px;
    }
}